[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Shop/gateway-ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Shop/product-microsevices.git
